<?xml version="1.0" encoding="utf-8" ?>
<nlog 
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  autoReload="true" 
  internalLogLevel="info" 
  internalLogFile=".\Log\nlog-internal.txt">
  <targets>
    <!-- C:\Logs\MyWebsite\nlog-all_${shortdate}.log -->
    <!-- write logs to file  -->
    <target xsi:type="File" name="ALL"
      fileName="C:\Logs\Hash\Hash_${shortdate}.log"
      layout="${longdate}|${event-properties:item=EventId.Id}|${uppercase:${level}}|${logger}|${message} ${exception}" />
  </targets>
  <rules>
    <!-- 所有 log -->
    <logger name="*" minlevel="Trace" writeTo="ALL" />
  </rules>
</nlog>